@import "tailwindcss";
@plugin 'daisyui';

html {
    scroll-behavior: smooth;
}


.swiper-pagination-bullet {
    background-color: #d3bebe;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #800000;
}

body::-webkit-scrollbar {
    display: none;
}




.swiper-pagination {
    text-align: center;
    margin-top: 1rem;
}
.swiper-pagination-bullet {
    background: #800000;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    margin: 0 6px;
}
.swiper-pagination-bullet-active {
    background: #800000;
    opacity: 1;
}